<!DOCTYPE html>
<html lang="en"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home - Football Info</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div th:fragment="navbar(activeLink)">
<header>
    <nav>
        <ul id="navbar">
            <li>
                <a th:href="@{/}">Home</a>
            </li>

            <li>
                <a th:href="@{/about}">About</a>
            </li>

            <li>
                <a th:href="@{/leagues}">Leagues</a>
            </li>

            <li>
                <a th:href="@{/all/dream-teams}">Dream Teams</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="/login"
                   th:classappend="${activeLink == 'login'}? 'active'">Login</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}"
                   th:classappend="${activeLink == 'register'}? 'active'">Register</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}">Profile</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
</div>
<footer class="hero-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</html>