body {
    font-family: 'PT Sans Caption', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    background-color: #2d2d32;
    color: white;
    list-style-type: none;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#navbar li {
    margin: 0 0.5em;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vh;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url('/images/background.jpg') no-repeat center -342px;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

.login-span {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 7em;
    width: 40em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 0.7em;
}

.container p {
    margin-bottom: 0.5em;
}

.container a {
    text-decoration: none;
    color: white;
    background-color: #3b4f29;
    padding: 0.3em;
    border-radius: 0.2em;
}

.hero-title {
    font-size: 12vh;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0.1em;
}

@media only screen and (min-width: 32em) {
    .hero-title {
        font-size: 16vh;
    }
}

.hero-footer {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #2d2d32;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #cccccc;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3b4f29;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #3b4f29;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4d6c38;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.about-body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.about-container {
    max-width: 30em;
    margin: 2.1em auto 0;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-title {
    color: #3b4f29;
}

.about-text {
    line-height: 1.6;
    margin-bottom: 1em;
}

.about-list {
    list-style-type: disc;
    margin-left: 2em;
}

.about-link {
    color: #3b4f29;
    text-decoration: none;
}

.about-section {
    padding: 20px 0;
}

.about-header {
    background-color: #3b4f29;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.about-footer {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    margin-top: auto;
    width: 100%;
}

body.leagues-body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header, .footer {
    flex-shrink: 0;
}


.leagues-container {
    margin: 3em auto;
    max-width: 58em;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 20em;
}

.leagues-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.league-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
    justify-content: center;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 40em;
    margin: 0 auto;
}

.league-box {
    display: block;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.league-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.league-title {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.league-logo {
    max-width: 100px;
    height: 100px;
    margin: 10px 0;
}

.league-country {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.country-label {
    margin-right: 10px;
    font-size: 1.2em;
}

.country-label {
    margin-right: 10px;
    font-size: 1.2em;
}

.country-select {
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.country-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button.remove-league-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button.remove-league-button:hover {
    background-color: #c82333;
}


.leagues-button-admin {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.add-leagues-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
}

.add-leagues-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.league-footer {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

@media (max-width: 992px) {
    .league-box {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .league-box {
        width: 100%;
    }
}

body.add-league-body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.add-league-container {
    max-width: 800px;
    margin: 3em auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-league-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.add-league-container label {
    font-weight: bold;
    margin-right: 10px;
}

.add-league-container #country {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: border-color 0.2s;
}

.add-league-container #country:focus {
    border-color: #80bdff;
    outline: 0;
}

.add-leagues-list {
    margin-top: 20px;
}

.add-league-box {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-league-box input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.add-league-box label {
    font-size: 16px;
    color: #555;
}

.add-league-container input[type="submit"],
.add-league-container button[type="reset"] {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.add-league-container input[type="submit"]:hover,
.add-league-container button[type="reset"]:hover {
    background-color: #0056b3;
}

.confirm-leagues-list {
    margin-top: 20px;
    text-align: left;
}

.confirm-league-box {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.cancel-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #5a6268;
}

.add-league-footer {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .add-league-container {
        margin: 20px;
        padding: 15px;
    }

    .add-league-container h1 {
        font-size: 24px;
    }

    .add-league-box label {
        font-size: 14px;
    }

    .add-league-box input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }

    .add-league-container input[type="submit"],
    .add-league-container button[type="reset"],
    .cancel-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

.standings-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.standings-container {
    background-color: #ffffff;
    padding: 1.2em;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 45em;
    width: 100%;
    margin: 3em auto 0;
    box-sizing: border-box;
    flex: 1;
}

.standings-header {
    text-align: center;
    margin-bottom: 20px;
}

.standings-header-title {
    margin: 0;
    color: #007acc;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.standings-league-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.standings-league-info-title {
    margin-bottom: 10px;
    color: #007acc;
    font-size: 1.75em;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
}

.standings-league-info-span-text {
    border-bottom: 3px solid #007acc;
}

.standings-league-info-description {
    margin: 0;
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
}

.standings-widget {
    width: 100%;
    margin-bottom: 20px;
}

#wg-api-football-standings {
    width: 100%;
    padding: 0.2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

.standings-footer {
    display: flex;
    font-size: 0.6em;
    margin-top: auto;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    width: 100%;
}

.teams-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.teams-section {
    padding: 20px;
    flex: 1;
}

.teams-container {
    max-width: 1200px;
    min-height: 717px;
    margin: 0 auto;
    text-align: center;
}

.teams-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.teams-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.favorite-checkbox {
    display: none;
}

.favorite-button {
    display: inline-block;
    cursor: pointer;
    font-size: 45px;
    color: #d3d3d3;
    transition: color 0.3s, border-color 0.3s;
}

.favorite-checkbox:checked + .favorite-button .star-icon {
    color: #ffcc00;
    border-color: #ffcc00;
}

#season-form {
    margin-bottom: 20px;
}

#season-form label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #555;
}

#season {
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#season:focus {
    border-color: #007bff;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-box {
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 21px;
    color: #007bff;
    margin-bottom: 10px;
}

.team-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.team-link {
    text-decoration: none;
}

footer.teams-footer {
    display: flex;
    font-size: 0.6em;
    margin-top: auto;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    width: 100%;
}

.teams-standings-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
}

.teams-standings-button {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.player-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    padding: 0.4em;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.players-filters {
    align-content: center;
}

.player-position {
    font-size: 18px;
    color: #555;
    margin-bottom: 0;
    margin-top: 1em;
}

.player-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.player-name {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

#position-form {
    margin-bottom: 20px;
}

#position-form label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #555;
}

#position #formation{
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#position:focus {
    border-color: #007bff;
}

#player-season-form {
    margin-bottom: 20px;
    justify-content: space-evenly;
    display: flex;
}

#player-season-form label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #555;
}

#player-season {
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#player-season:focus {
    border-color: #007bff;
}

:root {
    --primary-font-size: 15px !important;
}

.team-details-container h1 {
    text-align: center;
    color: #333;
}

.season-selector {
    text-align: center;
    margin-bottom: 20px;
}

.season-selector label {
    font-size: 16px;
    margin-right: 10px;
}

.season-selector select {
    padding: 5px;
    font-size: 16px;
}

.team-details-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4em auto 2em;
    padding: 2em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-details-info {
    text-align: center;
    margin-bottom: 1rem;
}

.team-details-info h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.team-details-logo {
    max-width: 200px;
    height: auto;
    margin: 1rem 0;
}

.team-details-stadium-info {
    text-align: center;
    margin-bottom: 2rem;
}

.team-details-stadium-info h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.team-details-stadium-name, .team-details-stadium-capacity {
    font-size: 1.5rem;
    color: #555;
}

.team-details-season-selector {
    margin-bottom: 0;
}

.team-details-season-selector form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-details-season-selector label {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.team-details-season-selector select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.team-details-league-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.team-details-league-info {
    text-align: center;
    max-width: 200px;
}

.team-details-league-logo {
    max-width: 150px;
    height: auto;
}

.team-details-statistics {
    margin-bottom: 1em;
    display: flex;
    align-self: self-end;
    width: 900px;
    justify-content: space-between;
}

.team-details-statistics h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.team-details-statistics ul {
    list-style: none;
    padding: 0;
}

.team-details-statistics li {
    margin-bottom: 0.5rem;
}

.team-details-players-page {
    text-align: center;
}

@media (max-width: 768px) {
    .team-details-box {
        flex-direction: column;
    }

    .team-details-league-details {
        flex-direction: column;
        align-items: center;
    }

    .team-details-league-info {
        max-width: none;
    }
}

.player-photo img {
    border-radius: 10px;
    max-width: 200px;
    margin-right: 20px;
}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-info h1 {
    margin: 0;
    color: #333;
    font-size: 2em;
}

.player-info p {
    margin: 5px 0;
    color: #666;
}

.player-info p strong {
    color: #333;
}

.player-profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em 2em;
    margin: 4em auto;
    width: 750px;
    height: 506px;
}

.player-footer {
    display: flex;
    font-size: 0.6em;
    margin-top: auto;
    justify-content: center;
    background-color: #2d2d32;
    color: white;
    width: 100%;
}


.profile-container {
    width: 500px;
    margin: 10em auto 0;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.3em;
}

.profile-header{
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.user-info h1 {
    margin: 0;
    font-size: 24px;
}

.user-info p {
    margin: 5px 0;
    color: #555;
}

.favorites-container {
    display: flex;
    justify-content: center;
}

.favorites-section {
    display: flex;
    flex-direction: row;
}

.favorites-section h2, .page-header h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.favorite-item {
    display: block;
    width: 100%;
    max-width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.favorite-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite-photo {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.show-more {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

.show-more:hover {
    background-color: #0056b3;
}

.back-button {
    display: block;
    width: 100%;
    max-width: 200px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

.team-box-add {
    display: flex;
    width: 200px;
    height: 290px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-logo-add {
    max-width: 100%;
    height: auto;
}

.teams-players-filters {
    display: flex;
    justify-content: center;
}


.teams-players-container {
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.3em;
    margin: 3.5em auto 1.5em;
}

.teams-players-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 1.5em;
}

.edit-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.edit-favorite-checkbox {
    display: none;
}

.edit-favorite-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-favorite-checkbox:checked + .edit-favorite-button {
    background-color: red;
    color: white;
}

.edit-favorite-button .edit-star-icon {
    display: inline-block;
    padding-left: 5px;
}

.edit-remove-selected-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-remove-selected-button:hover {
    background-color: #0056b3;
}

.team-details-league-name {
    margin: 1em 0;
}

.teams-players-container form#season-form {
    margin: 0;
}

.dream-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dream-team-container h1 {
    width: 700px;
    text-align: center;
}

.dream-team-filters {
    align-content: center;
    margin-bottom: 37px;
}