<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Leagues</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="add-league-body">
<header th:replace="~{fragments/commons::navbar(activeLink=${''})}"></header>
<section class="add-league-section">
    <div class="add-league-container">
        <h1>Select Leagues</h1>
        <form id="country-form"
              th:method="get"
              th:action="@{/leagues/add}">
            <label th:for="country">Country:</label>
            <select th:id="country" th:name="countryName" th:onchange="this.form.submit()">
                <option value="" disabled selected>Select</option>
                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"
                        th:selected="${country == countryName}"></option>
            </select>
        </form>

        <div th:if="${leagues != null}">
            <div th:if="${#lists.size(leagues) > 0}">
                <form id="add-league-form"
                      th:method="post"
                      th:action="@{/leagues/preview}">
                    <div class="add-leagues-list">
                        <h2 th:if="${countryName != null}">Leagues in
                            <span id="selected-country" th:text="${countryName}"></span>:
                        </h2>
                        <div th:each="league : ${leagues}" class="add-league-box">
                            <input type="checkbox" th:id="${league.id}" th:name="leagueIds" th:value="${league.id}"
                                   th:checked="${league.selected}">
                            <label th:for="${league.id}" th:text="${league.name}"></label>
                        </div>
                    </div>
                    <input type="submit" value="Save Selected Leagues">
                    <button type="reset">Clear All</button>
                </form>
            </div>
            <div th:unless="${#lists.size(leagues) > 0}">
                <div th:if="${countryName != ''}">
                    <h2> All leagues from <span th:text="${countryName}"></span> are added.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="add-league-footer"><p>&copy; 2024 Foot Score. All rights reserved.</p></footer>
</body>
</html>
