<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Teams</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header th:replace="fragments/commons::nav"></header>
<body>
<div class="teams-players-container">
    <div class="create-player-show-my">
        <div th:each="player : ${myPlayers}" class="team-box">
            <h2 class="create-player-detail">Player name: <span th:text="${player.name}"></span></h2>
            <p class="create-player-detail">Age: <span th:text="${player.age}"></span></p>
            <p class="create-player-detail">Position: <span th:text="${player.position}"></span></p>
            <p class="create-player-detail">Rating: <span th:text="${player.rating}"></span></p>
            <form th:if="${player.userId == user.id || user.role.id == 1}" th:action="@{/my-player/{playerId}/delete(playerId=${player.id})}"
                  method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" th:id="${player.id}" th:name="playerId" th:value="${player.id}">
                <button class="red remove-league-button" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<footer class="teams-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
