<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header th:replace="fragments/commons::nav"></header>
<body>
<div class="teams-players-container">
    <form id="season-form" th:method="get" th:action="@{/show-all}">
        <div class="teams-players-filters">
            <label for="season">Filter:</label>
            <select id="season" name="filter" onchange="this.form.submit()">
                <option th:each="favorite : ${favorites}"
                        th:value="${favorite}"
                        th:text="${favorite}"
                        th:selected="${favorite.equals(selectedFilter)}">
                </option>
            </select>
        </div>
    </form>

    <form th:mthod="get"
          th:action="@{/show-all/edit(selectedFilter=${selectedFilter})}">
        <button class="add-leagues-button">Edit</button>
        <input type="hidden" name="selectedFilter" th:value="${selectedFilter}">
    </form>

    <div class="teams-players-list">
        <div th:each="item : ${collection}" class="team-box">
            <a th:href="@{${selectedFilter == 'Teams' ? '/team/' + item.id + '/details' : '/player/' + item.id + '/details'}}"
               class="team-link">
                <h2 class="team-name" th:text="${selectedFilter == 'Teams' ? item.name : item.shortName}"></h2>
                <img th:src="${selectedFilter == 'Teams' ? item.logo : item.photo}" alt="Photo" class="team-logo">
            </a>
        </div>
    </div>
    <a href="/profile" class="back-button">Back to Profile</a>
</div>
<footer class="teams-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
