<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="teams-body">
<header th:replace="fragments/commons::nav"></header>

<section class="teams-section">
    <div class="dream-teams-container">
        <h1 class="teams-title">Team: <span th:text="${team.name}"></span></h1>
        <p>Created by: <span th:text="${team.user.toString()}"></span></p>
        <h2>Formation: <span th:text="${team.formation}"></span></h2>
        <form th:if="${user.role.getRole().toString().equals('ADMIN') || team.user.id == user.id}"
              th:action="@{/dream-team/{teamId}/delete(teamId=${team.id})}"
              method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="teamId" th:value="${team.id}">
            <button type="submit" class="red remove-league-button">Delete</button>
        </form>
        <div class="dream-team-background">
            <div class="dream-team-list">
                <div th:each="position : ${positions}" class="position">
                    <div th:if="${player.position.equals(position)}" th:each="player : ${players}"
                         class="dream-team-player-box">
                        <div>
                            <a th:href="@{/player/{playerId}/details(playerId=${player.id})}" class="team-link">
                                <h2 class="dream-team-player-name"><span th:text="${player.shortName}"></span></h2>
                                <img th:src="${player.photo}" alt="Player Photo" class="dream-team-player-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="teams-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
