<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Dream Team</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/checkbox-limit.js"></script>
</head>
<header th:replace="fragments/commons::nav"></header>
<body>
<div class="dream-team-container">
    <h1>Create Your Dream Team</h1>
    <div class="teams-container">
        <form id="filter-form" th:method="get" th:action="@{/create/dream-team}">
            <div class="players-filters">
                <label for="position">Sort by position:</label>
                <select id="position" name="position" onchange="this.form.submit()">
                    <option th:text="'All positions'"
                            th:selected="${selectedPosition == null || selectedPosition == 'All positions'}">All positions
                    </option>
                    <option th:each="position : ${positions}" th:value="${position}" th:text="${position}"
                            th:selected="${position == selectedPosition}"></option>
                </select>
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" th:value="${searchTerm}" placeholder="Search players">
            </div>
        </form>
        <form th:method="get" th:action="@{/create/dream-team/preview}">
            <button type="submit" class="remove-league-button">Continue</button>
        </form>
        <form th:method="post" th:action="@{/cancel}">
            <button type="submit" class="remove-league-button">Cancel</button>
        </form>
        <span>You can choose only 11 players</span>
        <div>
            <span>Selected</span>
            <div>
                <span>Goalkeeper: <span th:text="${goalkeepers}"></span></span>
                <span>Defenders: <span th:text="${defenders}"></span></span>
                <span>Midfielders: <span th:text="${midfielders}"></span></span>
                <span>Attackers: <span th:text="${attackers}"></span></span>
            </div>
        </div>
        <div id="player-list" class="team-list">
            <div th:each="player : ${players}" class="team-box-add">
                <h2 class="team-name"><span th:text="${player.shortName}"></span></h2>
                <img th:src="${player.photo}" alt="Team Logo" class="team-logo-add">
                <p class="player-position"><span th:text="${player.position}"></span></p>
                <form class="checkbox-wrapper" th:method="post" th:action="@{/create/dream-team}">
                    <input type="hidden" th:id="${player.id}" th:name="playerId" th:value="${player.id}">
                    <button type="submit" class="remove-league-button">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
