<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Dream Team</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header th:replace="fragments/commons::nav"></header>
<body>
<div class="preview-dream-team-container">
    <h1>Preview Your Dream Team</h1>
    <div class="team-details">
        <div class="submit-buttons">
            <form th:action="@{/create/dream-team/save}" method="post">
                <div class="input-container">
                    <label for="team-name">Dream Team Name:</label>
                    <input type="text" id="team-name" name="teamName" placeholder="Enter your team name" th:value="${teamName}" required>
                </div>
                <button type="submit">Confirm Team</button>
            </form>
        </div>
    </div>
    <div>
        <div class="team-list">
            <div th:each="position : ${positions}">
                <div th:if="${player.position.equals(position)}" th:each="player : ${players}" class="player-box">
                    <div>
                        <a th:href="@{/player/{playerId}/details(playerId=${player.id})}" class="team-link">
                            <h2 class="player-name"><span th:text="${player.shortName}"></span></h2>
                            <img th:src="${player.photo}" alt="Player Photo" class="player-logo">
                            <p class="player-position"><span th:text="${player.position}"></span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
