<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body class="leagues-body">
<header th:replace="fragments/commons::nav"></header>
<section class="leagues-section">
    <div class="leagues-container">
        <h1 class="leagues-title">Football Leagues</h1>
        <form id="country-form" th:method="get" th:action="@{/leagues}">
            <label for="country" class="country-label">Show leagues from:</label>
            <select id="country" name="countryName" class="country-select" onchange="this.form.submit()">
                <option th:text="'All countries'" th:selected="${countryName == 'All countries'}">All countries</option>
                <option th:each="country : ${countriesList}" th:value="${country}" th:text="${country}"
                        th:selected="${country == countryName}"></option>
            </select>
        </form>
        <div class="leagues-button-admin">
            <form sec:authorize="hasRole('ADMIN')"
                  th:mthod="get"
                  th:action="@{/leagues/add}">
                <button class="add-leagues-button">Add Leagues</button>
            </form>
            <form sec:authorize="hasRole('ADMIN')"
                  th:mthod="get"
                  th:action="@{/leagues/remove}">
                <button class="add-leagues-button">Remove Leagues</button>
            </form>
        </div>
        <div class="league-list">
            <a th:href="@{/league/{id}/teams(id=${league.id})}" class="league-box" th:each="league : ${leaguesList}">
                <h2 class="league-title"><span th:text="${league.name}"></span></h2>
                <img th:src="${league.logo}" alt="League Logo" class="league-logo">
                <p class="league-country"><span th:text="${league.countryName}"></span></p>
            </a>
        </div>
    </div>
</section>
<footer class="league-footer"><p>&copy; 2024 Foot Score. All rights reserved.</p></footer>
</body>
</html>