<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div th:replace="~{fragments/commons::navbar(activeLink=${'login'})}"></div>
<section class="hero">
    <div class="login-page">
        <div class="form">
            <span class="login-span">Login</span>
            <form th:method="post"
                  th:action="@{/login}"
                  class="login-form">
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <button>login</button>

                <div th:if="${loginError}" class="error">
                    <p class="error-message">Invalid username or password. Please try again.</p>
                </div>

                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
