<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="teams-body">
<header th:replace="fragments/commons::nav"></header>

<section class="teams-section">
    <div class="teams-container">
        <h1 class="teams-title">Players in <span th:text="${team.name}"></span></h1>
        <form id="season-form" th:method="get" th:action="@{/team/{teamId}/players(teamId=${team.id})}">
            <label for="season">Select a season:</label>
            <select id="season" name="seasonId" onchange="this.form.submit()">
                <option th:each="season : ${seasons}"
                        th:value="${season.id}"
                        th:text="${season.toString()}"
                        th:selected="${season.id == selectedSeasonId}">Season
                </option>
            </select>
            <input type="hidden" name="leagueId" th:value="${team.id}">
        </form>
        <div class="team-list">
            <div th:each="player : ${players}" class="player-box">
                <div>
                    <a th:href="@{/player/{playerId}(playerId=${player.id})}" class="team-link">
                        <h2 class="player-name"><span th:text="${player.fullName}"></span></h2>
                        <img th:src="${player.photo}" alt="Team Logo" class="player-logo">
                        <p class="player-position"><span th:text="${player.position}"></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="teams-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
