<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="teams-body">
<header th:replace="fragments/commons::nav"></header>

<section class="teams-section">
    <div class="teams-container">
        <h1 class="teams-title">Players in <span th:text="${team.name}"></span></h1>
        <form id="player-season-form" th:method="get" th:action="@{/team/{teamId}/players(teamId=${team.id}, seasonId=${selectedSeasonId})}">
            <div class="players-filters">
                <label for="player-season">Select a season:</label>
                <select id="player-season" name="seasonId" onchange="this.form.submit()">
                    <option th:each="season : ${seasons}"
                            th:value="${season.id}"
                            th:text="${season.toString()}"
                            th:selected="${season.id == selectedSeasonId}">Season
                    </option>
                </select>
            </div>
            <div class="players-filters">
                <a th:href="@{/league/{leagueId}/teams(leagueId=${league.id}, seasonId=${selectedSeasonId})}" class="team-link" th:each="league : ${leagues}">
                    <img th:src="${league.logo}" alt="Team Logo" class="player-logo">
                </a>
            </div>
            <div class="players-filters">
                <label for="position">Sort by position:</label>
                <select id="position" name="position" onchange="this.form.submit()">
                    <option th:text="'All positions'" th:selected="${selectedPosition == 'All positions'}">All
                        positions
                    </option>
                    <option th:each="position : ${positions}"
                            th:value="${position}"
                            th:text="${position}"
                            th:selected="${position == selectedPosition}">Position
                    </option>
                </select>
                <input type="hidden" name="teamId" th:value="${team.id}">
                <input type="hidden" name="seasonId" th:value="${selectedSeasonId}">
            </div>
        </form>
        <div class="team-list">
            <div th:each="player : ${players}" class="player-box">
                <div>
                    <a th:href="@{/player/{playerId}/details(playerId=${player.player.id})}" class="team-link">
                        <h2 class="player-name"><span th:text="${player.player.shortName}"></span></h2>
                        <img th:src="${player.player.photo}" alt="Player Photo" class="player-logo">
                        <p class="player-position"><span th:text="${player.player.position}"></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="teams-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
