<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header th:replace="fragments/commons::nav"></header>
<body>
<div class="profile-container">
    <header class="profile-header">
        <div class="user-info">
            <strong id="name" th:text="${user.firstName} + ' ' + ${user.lastName}"></strong>

            <p id="username">
                <strong>Username:</strong>
                <span th:text="${user.username}"></span>
            </p>

            <p id="email">
                <strong>Email:</strong>
                <span th:text="${user.email}"></span>
            </p>
            <p>
                <strong>Favorite Teams:</strong>
                <span th:text="${user.favoriteTeams.size()}"></span>
            </p>
            <p>
                <strong>Favorite Players:</strong>
                <span th:text="${user.favoritePlayers.size()}"></span>
            </p>
            <p>
                <strong>Dream Teams:</strong>
                <span th:text="${dreamTeams.size()}"></span>
            </p>
        </div>
        <div id="edit" class="dream-teams-list">
            <a th:href="@{/profile/edit}" class="show-more">Edit</a>
        </div>
    </header>
    <div class="favorites-container">
        <section class="favorites-section">
            <div id="favorite-teams" class="favorites-list">
                <a th:href="@{/show-all}" class="show-more">Favorites</a>
            </div>
            <div id="dream-teams" class="dream-teams-list">
                <a th:href="@{/profile/dream-teams}" class="show-more">Dream Teams</a>
            </div>
            <div id="user-player" class="dream-teams-list">
                <a th:href="@{/profile/my-player}" class="show-more">My player</a>
            </div>
        </section>
    </div>
</div>
<footer class="player-footer">
    <p>&copy; 2024 Foot Score. All rights reserved.</p>
</footer>
</body>
</html>
